#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), image-url('main_background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-content {
  margin: 80px 0 0 0;
  padding: 30px;
}

#home-title {
  color: $base-light-grey;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;

  h2 {
    padding: 20px;
    font-size: 40px;
    background-color: $base-dark-blue;
  }
}

.skewed {
  transform: skew(0, 5deg);
}

#home-text {
  background-color: $base-light-grey;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px;
  opacity: 0.9;
  p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
  }
}
