<div id="home">
  <div class="home-content">
    <div id="home-title">
      <h2>
      Espacios Migrantes BCN
      </h2>
    </div>
    <div id="home-text">
      <p>
        Este es un espacio libre y abierto a la oportunidad de confluencia de paisanos de todo el mundo.
      </p>
      <p>
        En una época de territorios cerrados y fronteras hostiles, queremos abrazar la arribada, abrir la ciudad, informar y acompañar esta nueva jornada que para tantos de nosotros se ha presentado en su momento confusa, solitaria y fría.
      </p>
      <p>
        Aquí encontrarás experiencias de otros migrantes, información sobre asesoría jurídica, psicosocial y datos sobre espacios abiertos (sociales y culturales) hechos por nosotros y para nosotros.
      </p>
      <p>
        Bienvenido(a)
      </p>
    </div>
  </div>
</div>
